* {
  padding: 0;
  margin: 0;
}

.header {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
}

.stats {
  margin: 1rem;
  width: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: lightcoral;
}

.p_stats {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2rem;
}

.p_stats > article {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid;
  border-radius: 3rem;
}

.b_stats {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
}

.b_stats > article {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid;
  border-radius: 3rem;
}

.title {
  margin: 2rem 5rem 2rem 0;
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: lightcoral;
  border-radius: 5rem;
}

.main {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightcoral;
}

.clock {
  height: 60vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: lightblue;
}

#clock {
  margin-top: 2rem;
  height: 35vh;
  width: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11rem;
  background-color: lightcoral;
}

#needle {
  background-color: black;
  height: 35vh;
  width: 1vh;
  border-radius: 1rem;
}

.rotate {
  animation: rotation 10s linear 0s infinite normal none running;
}

.stopRotate {
  animation: rotation 10s linear 0s infinite normal none paused;
}

@keyframes rotation {
  to {
    transform: rotate(-360deg);
  }
}

#clock_btn {
  margin-bottom: 4rem;
  height: 10vh;
  width: 30vh;
  font-size: 4rem;
}

.calculs {
  height: 60vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightblue;
}

.numbers {
  height: 20vh;
  width: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightcoral;
  border-radius: 6rem;
}

.numbers > p {
  margin: 1rem;
  padding: 0 1rem;
  font-size: 5rem;
  background-color: lightblue;
  border-radius: 2rem;
}

#answer {
  height: 10vh;
  width: 40vh;
  font-size: 3rem;
  text-align: center;
}

.life {
  height: 60vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightblue;
}

#health {
  margin: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: lightcoral;
}

#health > div {
  margin: 0.5rem;
  padding: 0.5rem;
  height: 5rem;
  width: 5rem;
  background-color: lightblue;
}

.darkHeart {
  background: url(/img/IMG_darkHeart.png) no-repeat center/cover;
}
.whiteHeart {
  background: url(/img/IMG_whiteHeart.png) no-repeat center/cover;
}
.blueHeart {
  background: url(/img/IMG_blueHeart.png) no-repeat center/cover;
}
.redHeart {
  background: url(/img/IMG_redHeart.png) no-repeat center/cover;
}

#difficulty {
  margin: 5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  background-color: lightcoral;
}

.hidden {
  display: none;
}
